*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color:#5c6981;
    --color:#8E9AAF;
    --color:#CBC0D3;
    --color: #FEEAFA;
    --color:  #EFF1FF;

   /*font-family: 'Palanquin', sans-serif;
    font-family: 'Staatliches', cursive;*/
    
}
body{
    background: #E5E5E5;
}


 header img{
   margin: auto;
}
#img2 {
    display: none;
}
#img6{
    display: none;
}
.logo2{
    display: none;
}
.logo3{
    display: none;
}
.space{
    display: none;
}

.page{
   
    width: 384px;
    background: #EFF1FF;
    margin: auto;
}
p{

    

    margin: 14px 43px 63px 36px;
    font-family: 'Palanquin', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 15px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #23053A;

}
.lore2 {
    display: none;
}
img {
    margin: 32px;

}
.img2{
    display: none;
}
.card{
    position: relative;
    text-align: center;
}
 h2{
   
    font-family: 'Staatliches', cursive;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;

    background: #FEEAFA;
    border-radius: 20px;
    
  
}
.card .one{ 
    position: absolute;
    left: 200px;
    bottom: 210px;
    width: 112px;
   
   

    
}
.card .two{
    position: absolute;
    left: 200px;
    bottom:410px;
    width:112px;
}
.card .thre{
    position: absolute;
    left: 200px;
    bottom:210px;
    width:112px;
}
.card .for{
    position: absolute;
    left: 200px;
    bottom:410px;
    width:112px;
    
}
.container{
    display: block;
   }
   footer{
    display: none;
   }
  

  @media (min-width:930px){

    body{
        width: 1280px;
        height: 720px;
    }
   
   .page{
    box-sizing: border-box;
    background-image: url(img/Rectangle\ 10\ \(1\).png);
    margin: 0;
    width: 377px;
    height: 730px;

   }
   .logo1{
    display: none;
   }
   .logo2{
    display: block;
    padding-top: 32px;
    left: 81px;
   }
   .logo3{
    display: block;
   }
   .space{
    width: 230px;
    align-items: center;

    display: block;
    position: absolute;
    top: 205px;
    left:35px;

    font-family: 'Staatliches';
    color: #FFFFFF;
    font-weight: 400;
    font-size: 48px;
    line-height: 34px;
   }
   .lore1{
   display: none;

   }
   h2{
    display: none;
   }
   .lore2{
    display: block;
    color: #FFFFFF;
    font-family: 'Roboto';

    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
   }
   #img2{
    display: none;
   }
   #img6{
    display: none;
   
   }
   .img1{
    display: none;
   }
   .img2{
    display: block;
   }
   .container{
    display: none;
   }
  
   .container{
 
    width: 1280px;
    height:auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "a  b c ";

}

.card:nth-child(1){
    grid-area: a;
 position: absolute;
   
   left: 727px;
   top: 446px;
}
.card:nth-child(2){
    grid-area: b;
    position: absolute;
    top:64px;
    left: 727px;
}
.card:nth-child(3){
    grid-area: c;
    position: absolute;
    left: 475px;
    top: 64px;
}
.card:nth-child(4){
    grid-area: d;
    
    position: absolute;
    top: 246px;
    left: 475px;
    
}
.card:nth-child(5){
    grid-area: e;
    
    position: absolute;
    top: 246px;
    left: 979px;
    
}.card:nth-child(6){
    grid-area: f;
    position: absolute;
    left: 979px;
    top: 64px;
}
footer{

    display: block;
    position: absolute;
    top: 646px;
    left: 710px;

    font-family: open sans;
 
    font-size: 14px;

    color: #4A4E69;
   
}


}
 

   

 
