*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color:#5c6981;
    --color:#8E9AAF;
    --color:#CBC0D3;
    --color: #FEEAFA;
    --color:  #EFF1FF;

   /*font-family: 'Palanquin', sans-serif;
    font-family: 'Staatliches', cursive;*/
    
}
body{
    background: #E5E5E5;
}
header img{
   margin: auto;
}
.page{
   
    width: 384px;
    background: #EFF1FF;
    margin: auto;
}
p{

    

    margin: 14px 43px 63px 36px;
    font-family: 'Palanquin', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 15px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #23053A;

}
img{
    margin: 32px;
}
.card{
    position: relative;
}
 h2{
   
    font-family: 'Staatliches', cursive;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;

    background: #FEEAFA;
    border-radius: 20px;
    
  
}
.card .one{ 
    position: absolute;
    left: 230px;
    bottom: 230px;
    width: 112px;
   
   

    
}
.card .two{
    position: absolute;
    left: 230px;
    bottom:430px;
    width:112px;
}
.card .thre{
    position: absolute;
    left: 230px;
    bottom:199px;
    width:112px;
}
.card .for{
    position: absolute;
    left: 230px;
    bottom:430px;
    width:112px;
}
 

